#video_background { position: absolute; bottom: 0px; right: 0px; min-width: 100%; min-height: 100%; width: auto; height: auto; z-index: -1000; overflow: hidden; }

#link {
	position: fixed;
	bottom: 10px;
	right: 10px;
}

#link a {
	font-family: "Lato";
	font-weight: 300;
	font-size: .75rem;
	color: #c0392b;
	text-decoration: none;
}


#link a:hover {
	color: #fcfcfc;
}